      <div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
        <div class="container-fluid">
          <%= link_to root_path, class: "navbar-brand" do %>
            <%= image_tag "logo.png", alt:"Starship logo" %>
          <% end %>
          <% if @search %>
            <%= form_with url: location_starships_path, method: :get, class:"search-form-control form-group" do %>
              <%= text_field_tag :query,
                params[:query],
                class: "form-control string required",
                placeholder: "Find a starship"
              %>
              <%= submit_tag "search", class: "btn btn-flat"%>
                <%# <i class="fas fa-search"></i> %>
              <%# end %>
            <% end %>
          <% end %>
          <div class="account-links">
            <%#= link_to "Home", root_path, class:"navbar-item, btn btn-warning"%>
            <% if user_signed_in? %>

            <a href="<%= edit_user_registration_path %>">Account</a>
            <%= link_to "Log Out", destroy_user_session_path, data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}%>
            <%= link_to 'Add a ship!', new_starship_path %>

              <%# <i class="fa-solid fa-bars"></i> %>
              <%= image_tag "https://www.francetvinfo.fr/pictures/GeUFO9wnKyjlmZ9H6mvwofEH9Rk/752x423/2017/08/16/phpB5XwH0_1.jpg", class: "avatar", alt: "avatar" %>

          <% else %>

          <%= link_to "Sign In", new_user_session_path, class:"navbar-item, btn btn-warning" %>
          <%= link_to "Sign up", new_user_registration_path, class:"navbar-item, btn btn-warning"%>

          <% end %>
        </div>
        </div>
      </div>
