<div class="d-flex justify-content-center">
  <div style= "width: 500px">
    <%= simple_form_for(@starship) do |f| %>
      <%= f.input :name, input_html: { class: 'rounded-input' } %>
      <%= f.input :starship_type, input_html: { class: 'rounded-input' } %>
      <%= f.input :number_of_persons, input_html: { class: 'rounded-input' } %>
      <%= f.input :address, input_html: { class: 'rounded-input' } %>
      <%= f.input :price, input_html: { class: 'rounded-input' } %>
      <%= f.input :description, input_html: { class: 'rounded-input' } %>
      <%= f.file_field :photos, as: :file, input_html: { multiple: true} %>
        <% if action_name == 'edit' %>
          <p>Add all your photos at once here! Photos which are not reselected will be deleted.</p>
        <% end %>
        <div class="text-center">
      <%= f.submit class: "btn btn-primary rounded-pill p-3 mt-5" %>
      </div>
    <% end %>
  </div>
</div>