
  <h1>Dear Invader, choose your starship for your space journey 🚀 !</h1>
  <div class="container d-flex" id="starships">
  <div class="row">
  <div style="width: 100%; height: 600px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
    <% @starships.each do |starship| %>
      <div class="card-product col-3 mb-3 mt-3">
      <% if starship.photos.nil? %>
        <div class="image">
        </div>
        <% else  %>
        <% starship.photos.each do |photo| %>
          <div class="dynamique-image" style="background: url('<%=cl_image_path photo.key %>')">
        </div>
        <% end %>
      <% end %>
        <div class="card-body ">
          <%= link_to starship.name, starship_path(starship) %>
          <p class="card-text"><%= starship.description%></p>
        </div>
      </div>
        <% end %>
      </div>
  </div>
