<div class="container">
  <%= link_to 'Back', starships_path, class: 'btn btn-primary btn-back' %>
  <div class="show-card">
    <div class="ship-name-owner">
      <h2><%= @starship.name %></h2>
      <p>Owner: <%= @starship.user.first_name %></p>
    </div>
    <% if @starship.photos.nil? %>
      <div class='image'></div>
    <% else %>
      <%= cl_image_tag @starship.photos.first.key, height: 300, width: 400, crop: :fill %>
    <% end %>
    <div class="description-and-billing">
      <div class="description-group">
        <h3 class="description-heading"><%= @starship.starship_type %></h3>
        <div class="description-content">
          <p>
            <i class="fa-solid fa-shuttle-space"></i>
            <%= @starship.description %>
          </p>
          <p>
            <i class="fa-solid fa-location-dot"></i>
            Currently located in <%= @starship.address %>.
          </p>
          <p>
            <i class="fa-solid fa-people-arrows"></i>
            Can accomodate <%= @starship.number_of_persons %> passengers.
          </p>
        </div>
      </div>
      <div class="booking-form-group">
        <h3>Billing info</h3>
        <%= render 'bookings/form', starship: @starship, booking: @booking %>
      </div>
    </div>
    <div id="starship-map" style="width: 50%; height: 600px;" data-controller="starship-map" data-starship-map-marker-value="<%= @marker.to_json %>" data-starship-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">

    </div>
    <% if @starship.user == current_user %>
      <%= link_to 'Edit ship info', edit_starship_path(@starship), class: "btn, btn-primary" %>
      <%= link_to 'Remove ship', starship_path(@starship), class: "btn, btn-primary", data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } %>
    <% end %>
  </div>
</div>
