<div class="container">
  <div class="show-card">
    <div class="owner-plus-back">
      <div class="ship-name-owner">
        <h2><%= @starship.name %></h2>
        <p>by <%= @starship.user.first_name %></p>
      </div>
      <div class="buttons-show">
        <%= link_to 'Back', starships_path, class: 'btn btn-primary btn-back back-button' %>
        <% if @starship.user == current_user %>
          <%= link_to 'Edit ship info', edit_starship_path(@starship), class: "btn, btn-primary back-button" %>
          <%= link_to 'Remove ship', starship_path(@starship), class: "btn, btn-primary back-button", data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } %>
        <% end %>
      </div>
    </div>
    <% if @starship.photos.count < 5 %>
      <div class='image'></div>
    <% else %>
      <% if @starship.photos.count == 5 %>
        <div class="grid-show">
        <div class="show-image-star">
            <%= cl_image_tag @starship.photos.first.key, class: 'image-grid-ship' %>
        </div>
        <div class="show-image-star">
            <%= cl_image_tag @starship.photos[1].key, class: 'image-grid-ship' %>
        </div>
        <div class="show-image-star">
            <%= cl_image_tag @starship.photos[2].key, class: 'image-grid-ship' %>
        </div>
        <div class="show-image-star">
            <%= cl_image_tag @starship.photos[3].key, class: 'image-grid-ship' %>
        </div>
        <div class="show-image-star">
            <%= cl_image_tag @starship.photos[4].key, class: 'image-grid-ship' %>
        </div>
        </div>
        <% end %>
    <% end %>
    <div class="description-and-billing">
      <div class="description-group">
        <h3 class="description-heading"><%= @starship.starship_type %></h3>
        <div class="description-content">
          <p>
            <i class="fa-solid fa-shuttle-space"></i>
            <%= @starship.description %>
          </p>
          <p>
            <i class="fa-solid fa-location-dot"></i>
            Currently located in <%= @starship.address %>.
          </p>
          <p>
            <i class="fa-solid fa-people-arrows"></i>
            Can accomodate <%= @starship.number_of_persons %> passengers.
          </p>
        </div>
      </div>
      <div class="booking-form-group">
        <h3>Billing info</h3>
        <%= render 'bookings/form', starship: @starship, booking: @booking %>
      </div>
    </div>
    <div id="starship-map" data-controller="starship-map" data-starship-map-marker-value="<%= @marker.to_json %>" data-starship-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">

    </div>
  </div>
</div>
