<section class="hero is-small is-warning ">
  <!-- Hero head: will stick at the top -->
    <div class="hero-head">
      <nav class="navbar">
        <div class="container">

          <div class="hero-body">

        <div class="navbar-menu is-active">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>

      <div id="navbarMenuHeroA" class="navbar-menu">
        <div class="navbar-start">
          <a class="navbar-item" href="#">
            Home
          </a>
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link" href="#">
              starship
            </a>
            <div class="navbar-dropdown">
              <a class="navbar-item" href="#">
                AUTRES
              </a>
              <hr class="navbar-divider">
              <a class="navbar-item" href="#/">
                Contact
              </a>
              <a class="navbar-item is-active" href="#">
                ----
              </a>
            </div>
          </div>

         <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link" href="#">
                Contact
              </a>
              <div class="navbar-dropdown is-boxed">
                <a class="navbar-item" href="#">
                  Contact
                </a>
              </div>
            </div>
            </div>
            </div>


         <div class="navbar-end">
           <div class="navbar-item">
            <div class="control">

             <% if user_signed_in? %>

                <a href="<%= edit_user_registration_path %>">Account</a>
                <a href="<%= new_starship_path %>"> Add a starship </a>
                <a href="<%= starships_path %>"> Book you starship </a>
                <%= link_to "Log Out", destroy_user_session_path, method: :delete %>

             <% else %>

             <%= link_to "Sign In", new_user_session_path, class:"navbar-item button is-warning" %>
             <%= link_to "Sign up", new_user_registration_path, class:"navbar-item button is-warning"%>


            <% end %>

            </div>
            </div>
            </div>
           </div>
        </div>
      </div>
   </nav>

 </section>
